/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Logo/style.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.style_conatiner__ZCWMP {
    width: 100%;
}

.style_conatiner__ZCWMP p {
    text-align: center;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 24px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Sidebar/views/dropdown.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.dropdown_dropdownContainer__3TUjf {
    width: 100%;
    min-width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 8px 4px;
    border-radius: 4px;
}

.dropdown_dropdownContainer__3TUjf p {
    margin: 0;
    font-size: 14px;
}

.dropdown_dropdownLeftContainer__y_G8P {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dropdown_iconContainer__KDLK6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.dropdown_heatmapColor__ue_z0 {
    background: linear-gradient(to bottom, white, #FFEFEF, #F3D0D7);
    border: 1px #F3D0D7 solid;
}

.dropdown_networkColor__R3qiR {
    background: linear-gradient(to bottom, white, #CAF4FF, #A0DEFF);
    border: 1px #A0DEFF solid;
}
.dropdown_textContainer__ySD4g {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.dropdown_title__OiUHu {
    font-weight: normal;
}

.dropdown_subtitle__dBI1e {
    font-weight: 300;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Sidebar/Sidebar.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Sidebar_btntext__OUarN {
    color: rgb(120, 115, 115);
    font-family: 'Lato';
    font-weight: 800;
    cursor: pointer;
}

.Sidebar_btntext__OUarN:hover {
    color: rgb(43, 0, 255);
}

.Sidebar_customDrawer__3qmdE {
    position: relative; /* or absolute */
  }

.Sidebar_dropdownContainer__o43HO {
    margin: 0px 16px;
}

.Sidebar_parameterSelections__P8GtF {
    overflow-y: scroll;
    overflow-x: none;
    padding: 0px 16px;
    height: 100%;
}


.Sidebar_title__f6aGo {
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

/* Import Data Section */
.Sidebar_importSecion__M9LRW {
    margin-top: 24px;
}

.Sidebar_directoryContainer__zQb87 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.Sidebar_importDataDiv__lh4KW {
    position: relative;
    display: inline-block;
    background-color: rgb(246, 248, 249);
    border: 1px solid rgb(227, 231, 233);
    padding: 8px 8px;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
    width: 250px;
}

.Sidebar_fileInput__ixO1B {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.Sidebar_customFileInput__BkdiD{
    font-family: 'OpenSans';
    font-size: 12px;
    font-weight: lighter;
    color: gray;
    cursor: pointer !important;
}

/* Data Properties */
.Sidebar_dataPropertiesContainer__pI27q {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.Sidebar_dataResolution__Qz_Rt {
    display: flex;
    gap: 8px
}

.Sidebar_chrSelectionDiv__cY7Mm {
    display: flex;
    gap: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.Sidebar_downweightingDiv__QaACK {
    margin-top: 8px;
}

/* Heatmap */
.Sidebar_heatmapPropertiesContainer__iqVjm {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.Sidebar_heatmapValueDiv__lK993 {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Apply Button Section */
.Sidebar_applyDiv__zsEkU {
    padding: 16px;
}

.Sidebar_subtitle__n2UkY {
    color: rgb(85, 85, 85);
    font-weight: bold;
    font-size: 12px;
    margin: -6px 0 0 0;
}

.Sidebar_description__EtFBj {
    font-size: 10px;
    margin: 4px 0 0px 0;
    color: rgb(85, 85, 85);
    font-weight: lighter;
}

.Sidebar_spaces__HB2GJ {
    height: 80px;
    width: 100%;
}


/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_views/heatmap.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.heatmap_chromXDiv__2aFN_ p {
    display: inline-block;
    margin: 0;
    padding-top: 10px;
    z-index: 90;
}

.heatmap_chromXDiv__2aFN_ {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(207, 216, 221);
    height: 42px;
    width: 696px;
    z-index: 50;
    top: 42px;
    left: 480px;
    border-radius: 400px;
    overflow: hidden;
}

.heatmap_xSlider__BP6NS {
    position: absolute;
    background-color: rgb(76, 192, 255);
    height: 100%;
    z-index: 80;
}

.heatmap_chromYDiv__npaTv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(207, 216, 221);
    height: 696px;
    width: 42px;
    z-index: 50;
    top: 128px;
    left: 350px;
    border-radius: 400px;
    text-align: center;
    overflow: hidden;
}

.heatmap_ySlider__nxTXi {
    position: absolute;
    background-color: rgb(76, 192, 255);
    width: 100%;
}

.heatmap_chromYDiv__npaTv p {
    padding: 0;
    height: 24px;
    transform: rotate(-90deg);
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
    margin-left: 354px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/RightSidebar/RightSidebar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.RightSidebar_sidebar__Q0kcO {
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100vh;
    z-index: 98;
    border-left: 1px solid rgb(224, 224, 244);
    background-color: white;
    transition: all 0.8s;
    padding: 0px 12px 0px 12px;
}

.RightSidebar_sidebar__Q0kcO h3 {
    font-family: 'lato';
    font-weight: bold;
    font-size: 16px;
    padding: 2px 0;
}

.RightSidebar_sidebarHidden__Q9lg_ {
    right: -288px;
}

.RightSidebar_sidebarContainer__wPfMf {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 8px;
    right: 12px;
    z-index: 99;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.RightSidebar_sidebarContainer__wPfMf:hover {
    background-color: rgb(219, 219, 219);
}

.RightSidebar_toolbar__mrYtU {
    display: flex;
    gap: 4px;
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
}

.RightSidebar_toolItem__IDM_B p {
    margin: 0;
    padding: 6px;
    font-size: 14px;
    color: rgb(127, 127, 127);
    cursor: pointer;
}

.RightSidebar_active__Bbvge p{
    background-color: rgb(225, 225, 225);
    color: rgb(0, 0, 0);
    border-radius: 8px;
}

.RightSidebar_toolItem__IDM_B {
    width: 100%;
    text-align: center;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/RightSidebar/Views/XGeneGenerationSection.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.XGeneGenerationSection_outer__aLMOf {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.XGeneGenerationSection_content__wIxye {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.XGeneGenerationSection_multiplesFields__XuQKL {
    display: flex;
    gap: 8px
}

.XGeneGenerationSection_label__PZcAi {
    font-size: 12px !important;
}

.XGeneGenerationSection_geneInfos__W2TQ_ {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto; /* Use auto for scrollbars only when needed */
    max-height: 100%; /* Define a max height (adjust as needed) */
    padding-bottom: 100px;
}

.XGeneGenerationSection_errorMessage__KpkmQ {
    color: red;
    font-size: 14px;
    margin: 10px 0;
}

.XGeneGenerationSection_noGenesMessage__MRGUq {
    color: gray;
    font-size: 14px;
    margin: 10px 0;
}

.XGeneGenerationSection_note__1czvg {
    font-size: 10px;
    color: gray;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/RightSidebar/Views/GeneInformation.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.GeneInformation_card__gh19g {
    padding: 12px 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.GeneInformation_card__gh19g p{
    padding: 0;
    margin: 0;
}

.GeneInformation_description__mbw8g {
    font-size: 12px;
    margin-top: 8px !important;
    color: #494949;
}

.GeneInformation_loc__iyj0_ {
    font-size: 12px;
    color: #494949;
}

.GeneInformation_name__g7AHQ {
    font-size: 14px;
    color: rgb(36, 36, 36);
}

.GeneInformation_detail__ymqKp {
    font-size: 12px;
    color: #5f5f5f;
}

.GeneInformation_detail__ymqKp span {
    font-family: 'Lato';
    font-weight: bold;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/RightSidebar/Views/GeneSetting.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.GeneSetting_content__WqgLM {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.GeneSetting_label__ibpQ3 {
    font-size: 12px;
}
