.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100vh;
    z-index: 98;
    border-left: 1px solid rgb(224, 224, 244);
    background-color: white;
    transition: all 0.8s;
    padding: 60px 12px 0px 12px;
}

.sidebarHidden {
    right: -288px;
}

.sidebarContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 8px;
    right: 12px;
    z-index: 99;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.sidebarContainer:hover {
    background-color: rgb(219, 219, 219);
}

.toolbar {
    display: flex;
    gap: 4px;
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
}

.toolItem p {
    margin: 0;
    padding: 6px;
    font-size: 14px;
    color: rgb(127, 127, 127);
    cursor: pointer;
}

.active p{
    background-color: rgb(225, 225, 225);
    color: rgb(0, 0, 0);
    border-radius: 8px;
}

.toolItem {
    width: 50%;
    text-align: center;
}