.dropdownContainer {
    width: 100%;
    min-width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 8px 4px;
    border-radius: 4px;
}

.dropdownContainer p {
    margin: 0;
    font-size: 14px;
}

.dropdownLeftContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.heatmapColor {
    background: linear-gradient(to bottom, white, #FFEFEF, #F3D0D7);
    border: 1px #F3D0D7 solid;
}

.networkColor {
    background: linear-gradient(to bottom, white, #CAF4FF, #A0DEFF);
    border: 1px #A0DEFF solid;
}
.textContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title {
    font-weight: normal;
}

.subtitle {
    font-weight: 300;
}